
/* A font family name and a generic family name */
body {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    background-color: white;
}

.content {
    display: flex;
    align-items: center;
}
.container-fluid {
    /* padding-right: calc(var(--bs-gutter-x)* .0); */
    /* padding-left: calc(var(--bs-gutter-x)* .0); */

 }

      /* Media Query for Mobile Devices */
      @media (max-width: 480px) {
        .text-section {
            margin-left:60px;
            margin-right:60px;
        }
        .display-1 {
            margin-top:60px;
            font-size: 6.4vw;
        }
        .display-2 {
            font-size: 2.8vw;
        }
    }

    /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
        .text-section {
            margin-left:60px;
            margin-right:60px;
        }
        .display-1 {
            margin-top:60px;
            font-size: 6.4vw;
        }
        .display-2 {
            font-size: 2.8vw;
        }
    }

    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px) {
        .text-section {
            margin-left:50px;
        }
        .display-1 {
            margin-top:60px;
            font-size: 3.8vw;
        }
        .display-2 {
            font-size: 1.6vw;
        }
    }

    /* Media Query for Laptops and Desktops */
    @media (min-width: 1025px) and (max-width: 1280px) {
        .text-section {
            margin-left:30px;
        }
        .display-1 {
            margin-top:60px;
            font-size: 3.5vw;
        }
        .display-2 {
            font-size: 1.2vw;
        }
    }

    /* Media Query for Large screens */
    @media (min-width: 1281px) {
        .text-section {
            margin-left:20px;
        }
        .display-1 {
            margin-top:60px;
            font-size: 3.5vw;
        }
        .display-2 {
            font-size: 1.2vw;
        }
    }

    .img-height {
        height:600px;
    }
.ccl-bg {
    background-image: url('/projects/ccl/assets/homebackground6-1.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color:white;
}
.ccl-van-bg {
    background-image: url('/projects/ccl/assets/AdobeStock_385307703_Preview.jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color:white;
}
.login-btn {
    background-color: #a6d63f;
    color:white;
}
.ccl-green {
    color: #a6d63f;
}
.box {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
  }
  .icon-words {
    margin-top:0px;
  }
.circle{
    height: 200px;
    width: 200px;
    background-color: #a6d63f;
    border-radius: 50%;
    display: inline-block;
    margin:10px;
  }

a:link {
    color: #a6d63f;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #acfa04;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #a6d63f;
    background-color: transparent;
    text-decoration: underline;
  }
