*, *:before, *:after {
  box-sizing: inherit;
}  
  /*//////////////////  NAVIGATION  //////////////////*/

.logo {
    padding: 0px 5px 0px 0px;
    margin-left: 10px;
    width: 65px;
  }


  /*//////////////////  BODY  //////////////////*/

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 20px;

}


.parallax-container {
  height: "your height here";
}

.parallax{
  position:static;
}

    

  body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }


  /*//////////////////  FOOTER  //////////////////*/
  
  footer {
    position: fixed;
    overflow: hidden;
    bottom:0;
    left:0;
    width:100%;
  }