*, *:before, *:after {
  box-sizing: inherit;
}  

/* ////////////////////////////// NAV //////////////////////////////*/

.logo {
    padding: 0px 5px 0px 0px;
    margin-left: 10px;
    width: 65px;
  }

.carousel .indicators {
top: 0;
}

.designNames {
  margin-top: 40px;
}
/* ////////////////////////////// BODY //////////////////////////////*/

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

  @media (max-width: 200px) {
    .parallax-container {
      height: 120px;
    }
}

@media (max-width: 500px) {
  .parallax-container {
    height: 180px;
  }
}

@media (max-width: 700px) {
  .parallax-container {
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .parallax-container {
    height: 220px;
  }
}

@media (max-width: 3000px) {
  .parallax-container {
    height: 250px;
  }
}

.parallax{
  position:static;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* ////////////////////////////// PORTFOLIO //////////////////////////////*/

.front {
  margin-right: 10px;
}
.back {
  margin-right: 10px;
}

.design {
  margin-top: 5px;
}

.portfolioBtns {
  margin-bottom: 5px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  margin-left: 10px;
}
/* ////////////////////////////// FORM //////////////////////////////*/

#form {
  margin-top: 50px;
}
    
h3.contact {
font-family: 'Montserrat', sans-serif;
margin-top: 2px;
}

.form-container {
padding: 20px;
}


/* ////////////////////////////// FOOTER //////////////////////////////*/
  
  footer {
    /* position: relative; */
    /* overflow: hidden; */
    /* bottom:0; */
    /* left:0; */
    /* width:100%; */

    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:1 !important;
  }

  .footerImg {
    margin-right: 10px;
    max-width: 30px;
  }

  #copyright {
    padding-top: 15px;
    padding-left: 15px;
  }