*, *:before, *:after {
  box-sizing: inherit;
}  
/* ////////////////////////////// NAV //////////////////////////////*/

.logo {
    padding: 0px 5px 0px 0px;
    margin-left: 10px;
    width: 65px;
  }


/* ////////////////////////////// BODY //////////////////////////////*/

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

.parallax-container {
  height: 300px;
}

.parallax{
  position:static;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* ////////////////////////////// FORM //////////////////////////////*/

#form {
  margin-top: 50px;
}
    
h3.contact {
font-family: 'Montserrat', sans-serif;
margin-top: 2px;
}

.form-container {
padding: 20px;
}


/* ////////////////////////////// FOOTER //////////////////////////////*/
  
  footer {
    position: relative;
    overflow: hidden;
    bottom:0;
    left:0;
    width:100%;
  }

  .footerImg {
    margin-right: 10px;
    max-width: 30px;
  }

  #copyright {
    padding-top: 15px;
  }